.deps
.libs
ChangeLog
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache/
build-aux/ar-lib
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/test-driver
build-aux/compile
config.log
config.status
configure
hmac.lo
hmac.o
libtool
libokpers-1.la
libokpers_args.la
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
sha1.lo
sha1.o
sha224-256.lo
sha224-256.o
sha384-512.lo
sha384-512.o
tests/Makefile
tests/Makefile.in
tests/test-suite.log
tests/selftest
tests/selftest.o
tests/selftest.log
tests/selftest.trs
tests/test_args_to_config
tests/test_args_to_config.o
tests/test_args_to_config.log
tests/test_args_to_config.trs
tests/test_key_generation
tests/test_key_generation.o
tests/test_key_generation.log
tests/test_key_generation.trs
tests/test_ndef_construction
tests/test_ndef_construction.o
tests/test_ndef_construction.log
tests/test_ndef_construction.trs
tests/test_threaded_calls
tests/test_threaded_calls.o
tests/test_threaded_calls.log
tests/test_threaded_calls.trs
tests/test_ok_utilities
tests/test_ok_utilities.o
tests/test_ok_utilities.log
tests/test_ok_utilities.trs
tests/test_okpbkdf2
tests/test_okpbkdf2.o
tests/test_okpbkdf2.log
tests/test_okpbkdf2.trs
tests/test_json
tests/test_json.o
tests/test_json.log
tests/test_json.trs
tmp/
usha.lo
usha.o
okchalresp
okchalresp.o
okcore/Makefile
okcore/Makefile.in
okcore/libokcore.la
okcore/okcore.lo
okcore/okcore.o
okcore/okcore_libusb-1.0.lo
okcore/okcore_libusb-1.0.o
okcore/okcore_libusb.lo
okcore/okcore_libusb.o
okcore/okcore_osx.lo
okcore/okcore_osx.o
okcore/okcore_stub.lo
okcore/okcore_stub.o
okcore/okcore_windows.lo
okcore/okcore_windows.o
okcore/okstatus.lo
okcore/okstatus.o
okinfo
okinfo.o
okpbkdf2.lo
okpbkdf2.o
okpers-*-mac.zip
okpers-*-mac.zip.sig
okpers-*-win32.zip
okpers-*-win32.zip.sig
okpers-*-win64.zip
okpers-*-win64.zip.sig
okpers-*.tar.gz
okpers-*.tar.gz.sig
okpers-1.pc
okpers-args.lo
okpers-args.o
okpers-json.lo
okpers-json.o
okpers-nojson.lo
okpers-nojson.o
okpers-version.h
okpers-version.lo
okpers-version.o
okpers.lo
okpers.o
okpers_lcl.lo
okpers_lcl.o
okpersonalize
okpersonalize.o
coverage/
hmac.gcno
sha1.gcno
sha224-256.gcno
sha384-512.gcno
usha.gcno
okchalresp.gcno
okcore/okcore.gcno
okcore/okcore_libusb-1.0.gcno
okcore/okstatus.gcno
okinfo.gcno
okpbkdf2.gcno
okpers-args.gcno
okpers-json.gcno
okpers-version.gcno
okpers.gcno
okpers_lcl.gcno
okpersonalize.gcno
libhmac.la
libhmac_la-hmac.lo
libhmac_la-hmac.o
libhmac_la-sha1.lo
libhmac_la-sha1.o
libhmac_la-sha224-256.lo
libhmac_la-sha224-256.o
libhmac_la-sha384-512.lo
libhmac_la-sha384-512.o
libhmac_la-usha.lo
libhmac_la-usha.o
okpersonalize.1
okchalresp.1
okinfo.1
*.xml
